<div>
  <section class="section">
    <h6 class="heading">Pinned Contacts</h6>
    <div class="row">
      <!--Card 1-->
      <div class="col-md-4">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Jane Cooper</mat-card-title>
            <mat-card-subtitle>Regional Paradigm Technic..</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="./assets/avatar1.jpg"
              alt=""
              class="user-image mr-1 p-2"
            />
          </mat-card-title-group>
          <mat-divider></mat-divider>
          <div class="w-100 container-div">
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/email-icon.svg" />
              </div>
              Email
            </div>
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/call-icon.svg" />
              </div>
              Call
            </div>
          </div>
        </mat-card>
      </div>

      <!--Card 2-->
      <div class="col-md-4">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Cody Fisher</mat-card-title>
            <div class="status bg-lightGreen">Active</div>
            <mat-card-subtitle>Product Directives Officer</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="./assets/Cody.svg"
              alt=""
              class="user-image mr-1 p-2"
            />
          </mat-card-title-group>
          <mat-divider></mat-divider>
          <div class="w-100 container-div">
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/email-icon.svg" />
              </div>
              Email
            </div>
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/call-icon.svg" />
              </div>
              Call
            </div>
          </div>
        </mat-card>
      </div>

      <!--Card 3-->
      <div class="col-md-4">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Esther Howard</mat-card-title>
            <div class="status bg-lightGreen">Active</div>
            <mat-card-subtitle>Forward Response Developer</mat-card-subtitle>
            <img
              mat-card-sm-image
              src="./assets/Esther.svg"
              alt=""
              class="user-image mr-1 p-2"
            />
          </mat-card-title-group>
          <mat-divider></mat-divider>
          <div class="w-100 container-div">
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/email-icon.svg" />
              </div>
              Email
            </div>
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/call-icon.svg" />
              </div>
              Call
            </div>
          </div>
        </mat-card>
      </div>

      <!--Card 4-->
      <div class="col-md-4">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>Jenny Wilson</mat-card-title>
            <div class="status bg-coral">Busy</div>
            <mat-card-subtitle>Central Security Manager </mat-card-subtitle>
            <img
              mat-card-sm-image
              src="./assets/Wilson.svg"
              alt=""
              class="user-image mr-1 p-2"
            />
          </mat-card-title-group>
          <mat-divider></mat-divider>
          <div class="w-100 container-div">
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/email-icon.svg" />
              </div>
              Email
            </div>
            <div class="child-divs">
              <div class="img-div">
                <img src="./assets/call-icon.svg" />
              </div>
              Call
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <!-- H6 here -->
  </section>
</div>
