<mat-nav-list>
  <div class="logo py-4">
    <span><img src="./assets/Mark.svg" alt="Company Logo" /></span>
    <h3 class="workflow">workflow</h3>
  </div>
  <mat-divider></mat-divider>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="vertical-align-center"
    routerLink="/dashboard"
  >
    <div class="mat-icon notranslate material-icons mat-icon-no-color">
      <img src="./assets/dashboard.svg" />
    </div>
    <div class="pt-3">Dashboard</div>
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="vertical-align-center"
    routerLink="/dashboard"
  >
    <div class="mat-icon notranslate material-icons mat-icon-no-color">
      <img src="./assets/Team.svg" />
    </div>
    <div class="pt-3">Team</div>
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="vertical-align-center"
    routerLink="/dashboard"
  >
    <div class="mat-icon notranslate material-icons mat-icon-no-color">
      <img src="./assets/Projects.svg" />
    </div>
    <div class="pt-3">Projects</div>
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="vertical-align-center"
    routerLink="/dashboard"
  >
    <div class="mat-icon notranslate material-icons mat-icon-no-color">
      <img src="./assets/Calender.svg" />
    </div>
    <div class="pt-3">Calender</div>
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="vertical-align-center"
    routerLink="/dashboard"
  >
    <div class="mat-icon notranslate material-icons mat-icon-no-color">
      <img src="./assets/Documents.svg" />
    </div>
    <div class="pt-3">Documents</div>
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    class="vertical-align-center"
    routerLink="/dashboard"
  >
    <div class="mat-icon notranslate material-icons mat-icon-no-color">
      <img src="./assets/Reports.svg" />
    </div>
    <div class="pt-3">Reports</div>
  </a>
</mat-nav-list>
